.Sidebar {
    width: 150px;
    display: table-column;
    position: absolute;
    height: 935px;
    background: #191718;
}

    .Sidebar table {
        width: 150px;
        height: 935px;
        background: #191718;
    }

    .Sidebar th, tr {
        display: block;
        height: 44px;
        position: static;
    }

    .Sidebar p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-align: left;
        margin-top: 14px;
        margin-left: 16px;
    }

.Content {
    width: 1768px;
    display: block;
    position: absolute;
    left: 165px;
}

    .Content #logoNCC {
        width: 310px;
        height: 122px;
        background: url(./img/logoNCC.png);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
.group1 {
        width: 1510px;
        height: 210px;
        background: #EFEFEF;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border: 38px;
    }
    .group1 .x1 {
        padding-top: 38px;
    }
        .group1 .x1 p {
            font-size: 21px;
            text-align: center;
            margin-top: 0px;
        }
    .group1 .x2 {
        padding-top: 18px;
        margin-top: 0px;
        display: contents;
    }
        .group1 .x2 p {
            font-size: 18.75px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
.coloums {
    width: 1510px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 78px;
}
    .coloums img {
        width: 128px;
        height: 128px;
        display:inline;
    }
.coloums1, .coloums2, .coloums3 {
    width: 30%;
    padding: 0px;
    display: inline-block;
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display:inherit;
    height:28px;
}
.coloums1{
    position:absolute;
    left:126px;

}
.coloums2 {
    position: absolute;
    left: 646px;
}
.coloums3 {
    position: absolute;
    left: 1166px;
}
.para {
    font-size: 16px;
    display: inline-block;
    position: absolute;
    width: 326px;
    margin-top: 46px;
    padding-top:0px;
}
.para p {
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
img{
    margin-top:46px;
    padding-left:0px;
}
.para_container{
    display:block;
}
.para_container p {
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.footer {
    position:absolute;
    top:856px;
    width:79px
}
    .footer p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #3E3E3E;
        width:125px;
        margin-top:30px;
        margin-left:129px;
    }
